.first-class {
  color: red;
  background-color: aqua;
}

#parrafo2 {
  background-color: rosybrown;
  color: purple;
}

* {
  margin: 5px;
  padding: 5px;
}

#parrafo2 > button {
  border-radius: 25%;
}
.fondo-verde {
  background-color: green;
  font-size: 30px;
  padding: 25px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  word-spacing: 22px;
  border: 10px solid brown;
  border-radius: 20%;
  margin: 30px;
}
div {
  align-items: center;
  font-weight: 13px;
}
