table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0px;
  text-align: center;
}

.color-yellow,
td strong {
  color: yellow;
}

.color-red {
  color: red;
}

td {
  color: green;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}
