table {
  margin: 0 auto;
  border-collapse: collapse;
}

.color-yellow {
  color: yellow;
}

.color-red {
  color: red;
}

td {
  color: green;
}
td strong {
  color: yellow;
}
th,
td {
  border: 0px solid black;
  padding: 5px;
}
