body {
  padding-left: 10px;
  padding-right: 10px;
}
h1 {
  padding: 10px;
  border: 2px solid blue;
  margin-top: 30px;
  margin-bottom: 30px;
}
h3 {
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid grey;
}
nav {
  border: 2px solid green;
}
.lista {
  margin-bottom: 25px;
}
p {
  border: 2px solid grey;
  padding: 5px;
}
